<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Counter value from Store : </h2>
  <p>{{count$ | async}}</p>
  <p>todos "divers" : <span>{{(todos1$ | async)?.length}}</span></p>
  <p>todos "angular" : <span>{{(todos2$ | async)?.length}}</span></p>
</div>
<h2>Here is the Todo list : </h2>
<ul>
  <li *ngFor="let todo of (todos$ | async); let i = index">
    <span [innerText]="todo.title"></span>
  </li>
</ul>

<router-outlet></router-outlet>
